spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/photogallery
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
aws:
  region: us-east-1
  s3:
    bucket: arden-photogallery-bucket

openai:
  api-key: ${OPENAI_API_KEY}
